.icon {
	font-size: 2rem;
	cursor: pointer;
	display: flex;
	transition: all 0.1s;
	&:hover {
		transform: scale(1.1);
		font-weight: 900;
		filter: drop-shadow(0 1px 0px black);
	}
}

.Toastify__toast {
	z-index: 100000000000000000000000000000;
}
.Toastify__toast-container {
	z-index: 10000000000000000000000000000000;
}
